@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


#screen_loader {
    background: rgb(38, 38, 38) url(A\ useful/7Mpw.gif) no-repeat center center;
    background-size: 21%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 111;
}
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#040228 0%, #0075c7 40%);
    overflow-x: hidden;
   

}
/* nav css starts */


.nav_image {
    height: 0px;
    width: 0px;
    
}

div.nav_image>img,.image {
   
    
    height: 80px;
    width: 125px;
    position: relative;
    left: 75px;
    top: 0px;
    

}
.image img {
    position: relative;
    left: 120px;
    height: 80px;
    width: 150px;
}

nav {

    backdrop-filter: blur(10px);
    width: 98.8%;
    height: 60px;
    position: fixed;
    z-index: 1;
    
    

}

html {
    scroll-behavior: smooth;
}

.navigation_bar_items {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    column-gap: 40px;
    margin-top: -64px;
    margin-right: 10px;
 



}

.navigation_bar_items>a,
a.setting {
    text-decoration: none;
    font-weight: 600px;
    color: white;
    width: 60px;
    text-align: center;

}

.navigation_bar_items>a.about_us {
    width: 82px;
}





.navigation_bar_items a:hover,
.navigation_bar_items a:active {
    background-color: white;
    width: 60px;
    
    
    border-radius: 10px;
    color: black
}









/* navbar css ends */


/* parallax image starts */






















.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.parallax img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
}

section {
    z-index: -1;
}



/* parallax image ends */





/* part_02  */
.part_02 {
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.ads img {
    margin-top: 7%;
    margin-left: 20%;
    height: 60vh;
    width: 50vw;
}
.ads h1 {
    background-color: #427bff;
    
    margin-top: 0;
    border-radius: 5px;
    padding: 4px;

}
















.part_2 {
    margin: 0;
    padding: 0;
    height: 92vh;
    border: 1px solid black;
    width: 100%;
   background-color: white;
   display: flex;
}



.information_to_site {
    background-color: rgb(115, 115, 255);
    color: rgb(248, 248, 248);
    text-align: center;
    text-shadow: 2px 2px 10px black ;
}
   
.information_to_site h2 {
    margin-top: 0px;
    padding-top: 10px;
   
    
}
.information_to_site p {
    
    font-size: large;
    margin: 15px;
    
    
    
    
}
.part_2 img {
   
   width: 60%;
   height: 100%;
   
   
}

















.part_3 {
    height: 107vh;
    width: 100%;
    background-color: white;

}

.part_3 img {
    height: 80%;
    width: 100%;
}
.written_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.written_text h3 { 
    color: white;

}

.container_for_booking{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
}

.Travel,.Hotel,.Others {
  background-color: rgb(119, 24, 208);
  color: white;
  margin: 2px;
  box-shadow: 3px 3px 5px black;
  text-align: center;
}
.Travel:hover {
    height: 110%;
    width: 32%;
    box-shadow: none;
    margin: 7px;
}
.Hotel:hover {
    height: 100%;
    width: 27%;
    box-shadow: none;
    margin: 7px;
}
.Others:hover {
    height: 90%;
    width: 22%;
    box-shadow: none;
    margin: 7px;
}
 
.Travel a,.Hotel a,.Others a {
    text-decoration: none;
    color:  black;
    background-color: white;
    border-radius: 5px; 
    font-size: 18px;
    padding: 5px;
    box-shadow: 2px 2px 5px black;
    
}
.Travel a:hover,.Hotel a:hover,.Others a:hover {
    background-color: black;
    color: white;
}
.Travel{
    height: 80%;
    width: 27%;
    
}
.Hotel{
    height: 80%;
    width: 22%;

}
.Others {
    height: 90%;
    width: 17%;

}








.part_4 {
    height: 140vh;
    width: 100%;
    background-color: white;
}
.trending_heading h1 {
    margin: 0;
    background-color: #427bff;
    padding: 15px;
    text-shadow: 1px 1px 2px white;
    border-top: 1px solid black;
}
.trending_places{
    display: flex;
    flex-direction: column;
     margin: 0; 
     
}


.first_line_images,.second_line_images {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
     margin-left: 60px;
   
   
  }
  .trending_heading h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
  }
  .trending_places a {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 270px;
    width: 100%;
  }
 
  
.Louvre {
    background-image: url(/A\ useful/useful/lourve.jpg) ;
}
.colosseum {
    background-image: url(/A\ useful/colosseum-compressed.jpg);
}
.Netherlands {
    background-image: url(/A\ useful/notherlands.jpg);

}
.liberty {
    background-image: url(/A\ useful/staue-ofiliberty.jpg);

}
.Vetican {
    background-image: url(/A\ useful/vatican-museum-compressed.jpg);

}
.Louvre,.colosseum,.Netherlands,.Vetican,.liberty {
    background-size: 100%;
    background-repeat: no-repeat;

}
.Louvre,.colosseum,.Netherlands,.Vetican,.liberty {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 2.5px;
}
.Louvre:hover,.colosseum:hover,.Netherlands:hover,.Vetican:hover,.liberty:hover {
    padding: 20px;
    box-shadow: 3px 3px 5px black;
}
.line {
   margin-top: 50px;

    border-bottom: 1px solid  grey;
}











.part_last {
    height: 60vh;
    width: 100%;
    background: linear-gradient( to right ,blue, red ) ;
}
.footer {
    display: flex;
    
    
 
}

.About,.flight,.help,.security {


    display: flex;
    flex-direction: column;
    margin: 30px 30px 30px 10px;
    color: black;

}
.About h1,.flight h1,.help h1,.security h1,.follow h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.About a,.flight a,.help a,.security a {
    color: white;
    text-decoration: none;
    margin-top: 7px;
    
} 
.About,.flight,.help {
        border-right: 1px solid white;
        border-right-width: 1px;
        padding-right: 30px;
    
}
.security {
    border-right: 1px solid white;
        border-right-width: 1px;
        padding-right: 30px;
    width: 12%;

}
.About a:hover,.flight a:hover,.help a:hover,.security a:hover {
    background-color: white;
    border-radius: 7px;
    font-weight: 600;
    color: black;
    
    padding-left: 5px;
    box-shadow: 3px 3px 6px black;
}

.follow {
    
    display: flex;
    flex-direction: column;
    position: relative;
    left: 16%;

   
    
}
.follow img {
   
    height: 40px;
    width: 40px;
    
}
.follow a {
    display: flex;
      color: white;
    text-decoration: none;
    
    
     
}
.follow h1 {
    color: black;
}
.About,.flight,.help,.security,.follow {
    margin-top: 2% ;

}

.insta,.facebook,.twitter {
    margin: 5px;
}
.follow a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 150px;
    border-radius: 7px;
    box-shadow: 1px 1px 4px white;
}


/* first page completes here */




